<div class="container">
  <%= render partial: 'items_nav' %>
  <h2>Items</h2>
  <table class="table table-striped mb-3">
    <thead>
      <tr>
        <th>Name</th>
        <th>Created At</th>
        <th>Expired At</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @items.each do |item| %>
        <tr>
          <td><%= item.name %></td>
          <td><%= item.created_at.strftime('%Y-%m-%d %H:%M:%S') %></td>
          <td>
            <span class="<%= color_of(item.expired_at) %>"><%= badge_of(item.expired_at) %></span>
            <%= item.expired_at.strftime('%Y-%m-%d %H:%M:%S') %>
          </td>
          <td>
            <%= render partial: "archive_action", locals: { item: } if item.archivable? %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
      <%= paginate @items %>
    </ul>
  </nav>
</div>
