<div class="container">
  <%= render partial: 'items_nav' %>
  <h2>Items</h2>
  <table class="table table-striped mb-3">
    <thead>
      <tr>
        <th style="width: 24px">#</th>
        <th>Name</th>
        <th>Use Before</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @items.each do |item| %>
        <tr>
          <th>
            <% if item.image.representable? %>
              <%= image_tag item.image, class: "rounded object-fit-fill", style: "width: 22px; height: 22px;" %>
            <% end %>
          </th>
          <td><%= item.name %></td>
          <td>
            <span class="<%= color_of(item.expired_at) %>"><%= badge_of(item.expired_at) %></span>
            <%= sweet_date(item.expired_at) %>
          </td>
          <td>
            <%= render partial: "archive_action", locals: { item: } if item.archivable? %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
      <%= paginate @items %>
    </ul>
  </nav>
</div>
